.main-container{
    display: flex;
    flex-wrap: wrap;
    width:600px;
    height: 600px;
    border: 2px dotted black;
    margin: auto;
    flex-direction: column;
    flex: auto;
}
.column-element{
    display: flex;
    border: 2px dotted black;
    
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;

}
.column-element:hover{
    background-color: red;
}
.row-element{
    background-color: blue;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}