.main-container{
    display: flex;
    flex-wrap: wrap;
    width:500px;
    height: 500px;
    flex: 1;
}
.grid-element{
    display: block;
    background-color: blue;
    
    flex-wrap: wrap;

}
.grid-element:hover{
    background-color: red;
}